{% extends 'base.html.twig' %}
{% block title %}Dodaj nowy samochód{% endblock %}
{% block titleMenu %}Dodaj samochód{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h2 class="material-heading">Dodaj nowy samochód</h2>

            {{ form_start(form) }}
            {% form_theme form 'form/fields.html.twig' %}

            {% block floatingIcon %}
                <div class="material-floating-button position-fix-left">
                    <button class="material-lower-shadow material-btn-effect"><span class="fas fa-save fa-fw"></span></button>
                </div>
            {% endblock %}

            {{ form_row(form.customer) }}

            <div class="box-flex box-size-3">
                {{ form_row(form.dateAdd, {'attr': {'value': "now"|date("Y-m-d") }}) }}
                {{ form_row(form.timeAdd, {'attr': {'value': "now"|date('H:i')}}) }}
                {{ form_row(form.vehicleType) }}
            </div>

            <div class="box-flex box-size-3">
                {{ form_row(form.mark) }}
                {{ form_row(form.model) }}
                {{ form_row(form.registration) }}
            </div>

            <div class="box-flex box-size-2">
                {{ form_row(form.engineNumber) }}
                {{ form_row(form.bodyNumber) }}
            </div>

            <div class="box-flex box-size-4">
                {{ form_row(form.capacity) }}
                {{ form_row(form.enginePower) }}
                {{ form_row(form.productionYear, {'attr': {'value': '2000-01-01'}}) }}
                {{ form_row(form.fuelCondition) }}
            </div>

            <div class="box-flex box-size-3">
                {{ form_row(form.testDrive) }}
                {{ form_row(form.insuranceOC) }}
                {{ form_row(form.repairBook) }}
            </div>
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let customerID = {{ customerID }};
    </script>
    <script src="{{ asset('library/selectCustomer.js') }}"></script>
{% endblock %}