<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Database - {% block title %}Strona główna{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('style/material.css') }}">
            <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block menu %}
        <header>
            <section>
                <nav>
                    <div class="menu-bar flex">
                        <div class="logo">
                            <span class="fas fa-bars fa-fw material-click-effect click-effect-blue" id="open-menu-left"></span>
                            <a href="#"><h1>{% block titleMenu %}Strona główna{% endblock %}</h1></a>
                        </div>

                        <div class="search-bar">
                            <form class="search-form">
                                <input type="text" placeholder="Wpisz rejestrację">
                                <label for="submit-search"><span class="fas fa-search fa-fw"></span></label>
                                <input id="submit-search" type="submit" hidden>

                                <div class="search-list material-lower-shadow">
                                    <ol>
                                        <li><span class="fas fa-arrow-right fa-fw"></span>BI 1234</li>
                                        <li><span class="far fa-clock fa-fw"></span>BI 4321</li>
                                        <li><span class="far fa-clock fa-fw"></span>WE 3214</li>
                                    </ol>
                                </div>
                            </form>
                        </div>

                        <div class="avatar-menu">
                            <span class="avatar" id="open-account-menu">
                                K
                            </span>

                            <ol class="account-menu material-shadow">
                                <li><a href="#" class="material-btn-effect"><span class="fas fa-user fa-fw"></span>{{ app.user.username }}</a></li>
                                <li><a href="#" class="material-btn-effect"><span class="fas fa-at fa-fw"></span>{{ app.user.email }}</a></li>
                                <li><a href="#" class="material-btn-effect"><span class="fas fa-wrench fa-fw"></span>Mechanik</a></li>
                                <li><a href="{{ path('logout') }}" class="material-btn-effect"><span class="fas fa-sign-out-alt fa-fw"></span>Wyloguj się</a></li>
                            </ol>
                        </div>

                        <div class="material-loader loader-menu-position" id="pre-loader">
                            <div class="material-loader-bar"></div>
                            <div class="material-loader-effect"></div>
                        </div>
                    </div>

                    <div class="menu-left material-shadow">
                        <div></div>

                        <ol>
                            <li><a id="index-menu" href="{{ path('index') }}" class="material-btn-effect"><span class="fas fa-home fa-fw"></span>Strona główna</a></li>
                            <li><a id="createcar-menu" href="{{ path('create_car') }}" class="material-btn-effect"><span class="fas fa-plus fa-fw"></span>Dodaj samochód</a></li>
                            <li><span></span></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a id="createuser-menu" href="{{ path('create_user') }}" class="material-btn-effect"><span class="fas fa-user-plus fa-fw"></span>Dodaj użytkownika</a></li>
                            <li><a href="{{ path('create_user') }}" class="material-btn-effect"><span class="fas fa-user-edit fa-fw"></span>Edytuj użytkownika</a></li>
                            <li><a id="positions-menu" href="{{ path('read_position') }}" class="material-btn-effect"><span class="fas fa-briefcase fa-fw"></span>Pokaż stanowiska</a></li>
                            <li><span></span></li>
                            {% endif %}
                            <li><a id="showProfil-menu" href="{{ path('read_user', {'slug': app.user.username}) }}" class="material-btn-effect"><span class="fas fa-user fa-fw"></span>Pokaż mój profil</a></li>
                            <li><a href="{{ path('create_car') }}" class="material-btn-effect"><span class="fas fa-cog fa-fw"></span>Ustawienia konta</a></li>
                            <li><a href="{{ path('logout') }}" class="material-btn-effect"><span class="fas fa-sign-out-alt fa-fw"></span>Wyloguj się</a></li>
                            <li><span></span></li>
                            <li><footer>Copyright &copy; Database 2018</footer></li>
                        </ol>
                    </div>

                    {% block floatingIcon %}
                    <div class="material-floating-button position-fix-left">
                        <a href="{{ path('create_car') }}" class="material-lower-shadow material-btn-effect"><span class="fas fa-plus fa-fw"></span></a>
                    </div>
                    {% endblock %}
                </nav>
            </section>
        </header>
    {% endblock %}

        <main class="margin">
        {% block body %}

        {% endblock %}
        </main>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('library/preloader.js') }}"></script>
            <script src="{{ asset('library/menu.js') }}"></script>
            <script src="{{ asset('library/fields.js') }}"></script>
        {% endblock %}
    </body>
</html>
