{% extends 'base.html.twig' %}
{% block title %}Przeglądanie profilu użytkownika{% endblock %}
{% block titleMenu %}Profil użytkownika{% endblock %}

{% block body %}
    <section>
        <div class="container"{% if user.username == app.user.username %}data-title="showProfil-menu"{% endif %}>

            <h2 class="material-heading">Profil użytkownika {{ user.username }}</h2>

            {% block floatingIcon %}
                <div class="material-floating-button position-fix-left">
                    <a href="{{ path('create_user') }}" class="material-lower-shadow material-btn-effect"><span class="fas fa-plus fa-fw"></span></a>
                </div>
            {% endblock %}

            <div class="read-data">
                <div class="material-box box-flex box-size-70">
                    <p>Nazwa użytkownika</p>
                    <p>{{ user.username }} {% if is_granted('ROLE_ADMIN') %}[ ID: {{ user.id }} ]{% endif %}</p>
                </div>

                <div class="material-box box-flex box-size-70">
                    <p>Imię</p>
                    <p>{{ user.firstName }}</p>
                </div>

                <div class="material-box box-flex box-size-70">
                    <p>Nazwisko</p>
                    <p>{{ user.lastName }}</p>
                </div>

                <div class="material-box box-flex box-size-70">
                    <p>Stanowisko</p>
                    <p>{{ user.position.name }}</p>
                </div>

                <div class="material-box box-flex box-size-70">
                    <p>Uprawnienia</p>
                    <p>
                        {% for role in user.roles %}
                            {{ role|slice(5)|lower|capitalize }}
                        {% endfor %}
                    </p>
                </div>

                {% if user.username == app.user.username %}
                    <div class="material-floating-button">
                        <a href="{{ path('update_user', {'slug': user.username}) }}" class="material-btn-effect"><span class="fas fa-pencil-alt fa-fw"></span></a>
                    </div>
                {% elseif is_granted('ROLE_ADMIN')%}
                    <div class="material-floating-button">
                        <a href="{{ path('update_user', {'slug': user.username}) }}" class="material-btn-effect"><span class="fas fa-pencil-alt fa-fw"></span></a>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}